* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: clamp(16px, 2vw, 22px);
}
html {
  font-family: "Akaya Telivigala", monospace, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
  padding: 10px 0;
}
h1 {
  color: #262834;
  font-size: clamp(21px, 4vw, 42px);
  padding: 8px;
  margin-block-end: 16px;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.container {
  width: 96%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #080808;
  padding: 10px 5px 5px 5px;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.container p {
  color: #e3e3e3;
  padding: 16px 32px;
  text-align: left;
}
.container span {
  color: #e3e3e399;
  font-size: 16px;
  text-align: right;
  width: 100%;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Dancing Script", "Akaya Telivigala", monospace, sans-serif;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
}
.btns button {
  background-color: hsla(187, 65%, 60%);
  color: #262834;
  font-weight: bold;
  padding: 8px 16px;
  margin: 5px;
  min-width: 100px;
  transition: 250ms;
  transition-property: background-color, color;
}
.btns button:hover {
  background-color: rgb(24, 143, 176);
  color: #e3e3e3;
}
.social-share {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-block: 16px;
}
.social-share img {
  width: 30px;
  height: 30px;
}
